.medicine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 250px !important;
}

.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-specialty {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.card-location {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
