<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary mt-3"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#modal-med-add'"
  *ngIf="isRoleEmployee"
>
  Add New Medicine
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="{{ 'modal-med-add' }}"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  #maindiv
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">Medicine Data</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!--Begin Of Form-->
        <form
          class="d-flex flex-column"
          [formGroup]="medicineData"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <div class="field col-12 md:col-4">
              <label for="inputtext">Name</label>
              <span class="p-float-label">
                <input
                  type="text"
                  id="inputtext"
                  pInputText
                  formControlName="Name"
                  [(ngModel)]="medicineObj.Name"
                />
              </span>

              <span
                class="help-block"
                *ngIf="
                  !medicineData.get('Name').valid &&
                  medicineData.get('Name').touched
                "
                ><span *ngIf="medicineData.get('Name').errors['required']"
                  >Please Enter Medicine Name!</span
                >
                <span
                  *ngIf="medicineData.get('Name').errors['numbersIsForbidden']"
                  >Invalid Input!</span
                >
              </span>
            </div>
            <div class="field col-12 md:col-4">
              <label for="inputtext">Dosage</label>
              <div class="p-inputgroup">
                <input
                  type="text"
                  pInputText
                  placeholder="Dosage"
                  formControlName="Price"
                  formControlName="Dose"
                  [(ngModel)]="medicineObj.Dose"
                />
                <span class="p-inputgroup-addon">/day</span>
              </div>
              <span
                class="help-block"
                *ngIf="
                  !medicineData.get('Dose').valid &&
                  medicineData.get('Dose').touched
                "
                ><span *ngIf="medicineData.get('Dose').errors['required']"
                  >Please Enter Dosage!</span
                >
                <span
                  *ngIf="medicineData.get('Dose').errors['stringIsForbidden']"
                  >Invalid Input!</span
                >
              </span>
            </div>
          </div>
          <div>
            <div class="field col-12 md:col-4">
              <label for="inputtext">Price</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">EP</span>
                <input
                  type="text"
                  pInputText
                  placeholder="Price"
                  formControlName="Price"
                  [(ngModel)]="medicineObj.Price"
                />
                <span class="p-inputgroup-addon">.00</span>
              </div>
              <span
                class="help-block"
                *ngIf="
                  !medicineData.get('Price').valid &&
                  medicineData.get('Price').touched
                "
                ><span *ngIf="medicineData.get('Price').errors['required']"
                  >Please Enter Price!</span
                >
                <span
                  *ngIf="medicineData.get('Price').errors['stringIsForbidden']"
                  >Invalid Input!</span
                >
              </span>
            </div>
            <div class="field col-12 md:col-4">
              <label for="inputtext">Stock</label>
              <span class="p-float-label">
                <input
                  type="text"
                  id="inputtext"
                  pInputText
                  formControlName="Stock"
                  [(ngModel)]="medicineObj.Stock"
                />
                <label for="inputtext">Stock</label>
              </span>
              <span
                class="help-block"
                *ngIf="
                  !medicineData.get('Stock').valid &&
                  medicineData.get('Stock').touched
                "
                ><span *ngIf="medicineData.get('Stock').errors['required']"
                  >Please Enter Stock!</span
                >
                <span
                  *ngIf="medicineData.get('Stock').errors['stringIsForbidden']"
                  >Invalid Input!</span
                >
              </span>
            </div>
          </div>

          <button
            class="btn btn-success"
            type="submit"
            [disabled]="medicineData.invalid"
          >
            Add Medicine
          </button>
        </form>
        <!--End Of Form-->
      </div>
    </div>
  </div>
</div>
