<div>
  <h2>my patients</h2>
 
  <mat-tab-group>
    <mat-tab label="Up comming" class="mat-elevation-z8"> 
      <input type="text" pInputText placeholder="Search" (input)="filterupcommingData($event)" id="mysearch">
      <i class="pi pi-search"></i>
    <p-table [value]="upcommingAppointment" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Patient</th>
          <th>Complaint </th>
          <th>Clinic</th>
          <th>Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr>
          <td>{{element?.patientID?.Name}}</td>
          <td>{{element?.patientID?.Disease}}</td>
          <td>{{element?.clinicID?.clinicName}}</td>
          <td>{{ element?.date}}</td>
        </tr>
      </ng-template>
    </p-table>

    </mat-tab> 
  
    <mat-tab label=" finished" class="mat-elevation-z8"> 
      <input type="text" pInputText placeholder="Search" (input)="filterFinishedData($event)" id="mysearch">
      <i class="pi pi-search"></i>
    <p-table [value]="finishedAppointment" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Patient</th>
          <th>Complaint </th>
          <th>Clinic</th>
          <th>Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr>
          <td>{{element?.patientID?.Name}}</td>
          <td>{{element?.patientID?.Disease}}</td>
          <td>{{element?.clinicID?.clinicName}}</td>
          <td>{{element?.date}}</td>
        </tr>
      </ng-template>
    </p-table>

    </mat-tab> 
    
   
</mat-tab-group>
</div>