

<mat-tab-group class="mt-5" color="accent"  >
   

        <mat-tab label="Appointments" class="mat-elevation-z8 ">
            <app-appointment-list></app-appointment-list>
        </mat-tab>

   
   

        <mat-tab label="Reservation" class="mat-elevation-z8 text-center" id="photo">
            <app-add-appointment></app-add-appointment>
               
        </mat-tab>

   
   

        <mat-tab label="Pending Reservation" class="mat-elevation-z8 text-center">
            <app-pending-list></app-pending-list>
        </mat-tab>
   
</mat-tab-group>