#mycard
{
 
    direction: ltr;
    text-align: left;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  
    padding: 40px ;
    margin-top: 0px;
  
    box-sizing: border-box;
    font-family: sans-serif;
  font-weight: 300;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
  font-size: large;
    text-align: left;
  
   

    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #32325d;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
    border-radius: 0.375rem;
    background-color: #fff;
    background-clip: padding-box;
    height: 80%;
  
}
.upper
{
    font-family: SourceSansPro !important;
    direction: ltr;
    background-color: rgb(0, 112, 205);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 31px;
    margin-top: 20px;
    margin-bottom: 0px;
   
    border-radius: 10px 10px 0px 0px;
    font-size: 20.6px;
}

 

:host ::ng-deep .p-dropdown 
{
    
    width: -webkit-fill-available;
}

:host ::ng-deep .p-calendar
{
    width: -webkit-fill-available;
}